
  .carousel-custom :global(.carousel .slide) {
    padding: 0 4px;
  }
  @media (max-width: 640px) {
    .carousel-custom :global(.carousel .slider-wrapper) {
      overflow: hidden;
    }
    .carousel-custom :global(.carousel .slide) {
      width: 80% !important; /* Aumentado para 80% para melhor visualização */
      margin: 0 auto !important; /* Centraliza os slides */
    }
    .carousel-custom :global(.carousel .slider) {
      justify-content: center !important;
    }
  }
  .carousel .control-arrow {
  background-color: rgba(30, 64, 175, 0.7); /* bg-blue-800 com opacidade */
  border-radius: 9999px; /* rounded-full */
  width: 40px;
  height: 40px;
  top: 35%;
  transform: translateY(-50%);
}

.carousel .control-arrow:hover {
  background-color: rgba(30, 64, 175, 1); /* hover mais forte */
}

.carousel .control-prev::before,
.carousel .control-next::before {
  color: white;
  font-size: 20px;
}

/* Comportamento de rolagem suave */
html {
  scroll-behavior: smooth;
}

/* Evita barras horizontais inesperadas */
body, .about-wrapper {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
