/* Estilos globais */
#root {
  max-width: 1280px;
  margin: 0 auto;
 /* Layout compacto */
  -webkit-text-size-adjust: 100%; /* Compatibilidade Chrome 18+, Safari 3+ */
  text-size-adjust: 100%; /* Padrão moderno Chrome 54+, Edge 79+ */
}

/* Compatibilidade do carrossel */
.carousel .slider-wrapper.axis-horizontal .slider {
  -webkit-box-orient: horizontal;
  -ms-box-orient: horizontal;
  display: flex; /* Garantir que o Flexbox seja aplicado */
}

/* Estilos dos botões */






/* Animação */
.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Sobrescrever regras do Flowbite para compatibilidade */
@layer base {
  html,
  :host {
    -webkit-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
  }

  select:not([size]),
  [multiple],
  [type=checkbox],
  [type=radio],
  [type=checkbox]:checked,
  [type=checkbox]:indeterminate {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}